@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html, body, #root {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and(min-width: 900px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  &:link,
  &:visited,
  &:hover,
  a:active {
    color: inherit;
    text-decoration: none;
    width: 100%;
  }
}

.min-scrollbar, .emoji-scroll-wrapper {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.section {
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(15, 15, 15, 0.15);
  margin: 8px;
  border-radius: 5px;
}

.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  height: -webkit-fill-available;
  @media screen and (min-width: 900px) {
    max-width: 414px;
    border-radius: 12px;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 2px rgba(15, 15, 15, 0.15);
  }
  .page-inner {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    &.has-app-bar {
      padding-top: 64px;
      @media screen and (max-width: 600px) {
        padding-top: 56px;
      }
    }
    &.has-bottom-nav {
      padding-bottom: 54px;
    }
  }
}
